
        <div class="row">
            <div id="partner-matrix-filter-holder" class="col-xs-12">
            </div>
        </div>
        <!-- TITLE -->
        <div class="row">
            <div id="partner-matrix-fx-title-items" class="col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="partner-matrix-progress-bar-holder">
            </div>
            <!-- TABLE DASHBOARD -->
            <div class="col-xs-12">
                <div id="partner-matrix-table-content">
                </div>
            </div>
            <!-- CHARTS DASHBOARD -->
            <div class="col-xs-12">
                <div id="partner-matrix-charts-content">
                </div>
            </div>
        </div>


