<div class="row">

    <div class="col-xs-12">

        <div id="table-filter"></div>

        <div id="table-info" class="collapse">
            <p><b><span>{{rowsFound}}:</span> <span id="table-size"></span></b></p>
        </div>

         <table id="table" data-search="true" data-pagination="true" >
                <thead>
                    <tr>
                        <th id="col1" data-field="recipient_country" data-sortable="true">Stars</th>
                        <th id="col2" data-field="resource_partner" data-sortable="true" width="200">Name</th>
                        <th id="col3" data-field="total_ODA" data-sortable="true">Forks</th>
                        <th id="col4" data-field="ODA_to_FAO" data-sortable="true">Description</th>
                        <th id="col5" data-field="SHARE" data-sortable="true">Description</th>
                    </tr>
                </thead>
        </table>

    </div>
</div>

