<div class="row">
    <div class="col-sm-12">

        <div class="filter-browse">
            <div class="obj-box">
                <div id="filter-browse" class="filter-container row">
                    <div id="compare-filter">
                        <div class="row">
                            <div data-selector="oda" class="col-md-4"></div>
                            <div data-selector="donorcode" class="col-md-4"></div>
                            <div data-selector="recipientcode" class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div data-selector="year-from" class="col-md-6"></div>
                                    <div data-selector="year-to" class="col-md-6"></div>
                                </div>
                            </div>
                            <div data-selector="parentsector_code" class="col-md-4"></div>
                            <div data-selector="purposecode" class="col-md-4"></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12" id="compare-filter-summary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button disabled id="add-btn" type="button" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add Chart / Compare
        </button>

        <div id="compare-analysis"></div>

    </div>
</div>


