<div id="filter-errors" class="alert alert-danger alert-dismissible collapse" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="{{close}}">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{please_make_selections}} <span></span></strong>
</div>
