<div>
    <div class="row">
        <div class="col-xs-12" id="comp-advantage-container">
            <div>
                {{> ../partials/download-menu-partial type='table' id='comp_advantage'}}
            </div>
            <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{comparative-advantage}}</b>:</span> {{label}}</p></div>
            <div class="obj-box">

                <div data-item="comp_advantage"></div>
            </div>
        </div>
    </div>
</div>