<div class="row">

    <div class="col-xs-12">

        <div id="table-filter"></div>

        <div id="table-info">
            <p>
                <span id="table-description">{{comp_advantage_desc_1}}</span>
                <span id="table-read-more">{{comp_advantage_desc_2}} <a href="docs/comparative_advantage_desc.pdf" target="_blank">{{comp_advantage_desc_3}}</a>.</span>
            </p>
          <!--  <p><b><span>{{rowsFound}}:</span> <span id="table-size"></span></b></p>-->
        </div>

        <div id="table"></div>

    </div>
</div>

