<div class="row">

    <div class="col-sm-12">
        <!-- FILTER -->
        <div class="row">
            <div id="analyse-projects-filter-holder" class="col-sm-12">
            </div>
        </div>
        <!-- TITLE -->
        <div class="col-sm-12">
            <div id="analyse-projects-fx-title-items"></div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="analyse-projects-progress-bar-holder">
            </div>
            <!-- TABLE DASHBOARD -->
            <div class="col-sm-12">
                <div id="analyse-projects-table-content">
                </div>
            </div>
        </div>
    </div>
</div>


