


        <!-- FILTER -->
        <div class="row">
            <div id="projects-filter-holder" class="col-xs-12">
            </div>
        </div>
        <!-- TITLE -->
        <div class="col-xs-12">
            <div id="projects-fx-title-items"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="projects-progress-bar-holder">
            </div>
            <!-- TABLE DASHBOARD -->
            <div class="col-xs-12">
                <div id="projects-table-content">
                </div>
            </div>
        </div>




