<div>
    <div class="row">
        <div class="col-sm-12" id="projects-container">
            <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{projects}}</b>:</span> {{current_prices}} / {{label}}</p></div>
            <div class="obj-box">
                <div data-item="projects"></div>
            </div>
        </div>
    </div>
</div>