<div class="row">

    <div class="col-sm-12">

        <div id="table-filter"></div>

        <div id="table-info">
            <p><b><span>{{rowsFound}}:</span> <span id="table-size"></span></b></p>
        </div>

        <div id="table"></div>

    </div>
</div>

