


        <!-- FILTER -->
        <div class="row">
            <div id="priority-filter-holder" class="col-xs-12">
            </div>
        </div>
        <!-- TITLE -->
        <div class="row">
            <div id="priority-fx-title-items" class="col-xs-12">
            </div>
        </div>

        <div class="row">
            <!-- PRIORITIES TABLE VENN DASHBOARD PROGRESS BAR -->
            <div class="col-xs-12" id="priority-tv-progress-bar-holder">
            </div>
            <!-- PRIORITIES TABLE VENN DASHBOARD -->
            <div class="col-xs-12">
                <div id="priority-table-venn-content">
                </div>
            </div>
            <!-- CHARTS DASHBOARD PROGRESS BAR -->
            <div class="col-xs-12" id="priority-c-progress-bar-holder">
            </div>
            <!-- CHARTS DASHBOARD -->
            <div class="col-xs-12">
                <div id="priority-charts-content">
                </div>
            </div>
        </div>


