<div class="row">
    <div class="col-xs-12">
        <div id="table-filter"></div>
       <!-- <div id="table-info">
            <p><b><span>{{rowsFound}}:</span> <span id="table-size"></span></b></p>
        </div>-->
        <div id="table"></div>
    </div>
</div>

<div class="row">
    <hr/>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="table-source">
            <div id="cpf"></div>
            <div id="undaf"></div>
        </div>
    </div>
</div>


