<div class="row">
    <div class="col-xs-12">
        <div id="table-filter"></div>
       <div id="table-info" class="collapse">
            <p><b><span>{{rowsFound}}:</span> <span id="table-size"></span></b></p>
        </div>
        <table id="table" data-search="true" data-pagination="true" data-undefined-text="">
                <thead>
                    <tr>
                        <th id="col1" data-sortable="true"></th>
                        <th id="col2" data-sortable="true"></th>
                        <th id="col3" data-sortable="true"></th>
                        <th id="col4" data-sortable="true"></th>
                    </tr>
                </thead>
        </table>
    </div>
</div>

<div class="row">
    <hr/>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="table-source">
            <div id="cpf"></div>
            <div id="undaf"></div>
        </div>
    </div>
</div>


