<div class="row">
    <div id="partner-profiles-filter-holder" class="col-xs-12">
        <div class="obj-box">
            <div id="filter-partner-profiles" class="filter-container row">
            </div>

            <div id="filter-partner-profiles-errors-holder" class="row">
            </div>
        </div>
    </div>
</div>
<!-- TITLE -->
<div class="row">
    <div id="partner-profiles-fx-title-items" class="col-xs-12"></div>
</div>
<div class="row">
    <div class="col-xs-12" id="partner-profiles-progress-bar-holder">
    </div>

    <!-- CHARTS DASHBOARD -->
    <div class="col-xs-12">
        <div id="partner-profiles-dashboard-content">
            <div>
                <div class="row">
                    <div class="col-xs-12" id="tot-oda-container"> <!-- TOTAL ODA -->
                      <div class="obj-box">
                            <div data-item="tot-oda"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="top-sectors-container"> <!-- TOP SECTORS -->
                         <div class="obj-box">
                            <div data-item="top-sectors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="tot-oda-fao-container"> <!-- TOTAL ODA SECTOR -->
                          <div class="obj-box">
                            <div data-item="tot-oda-fao"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="top-fao-subsectors-container"><!-- TOP SUB SECTORS -->
                         <div class="obj-box">
                            <div data-item="top-fao-subsectors"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-12" id="top-recipients-container"><!-- TOP RECIPIENTS -->
                        <div class="obj-box">
                            <div data-item="top-recipients"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" id="top-channels-container"><!-- TOP CHANNEL CATEGORIES -->
                      <div class="obj-box">
                            <div data-item="top-channels"></div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>