<div>
    <section data-topic="country">
            <div class="row">
                <div class="col-sm-12">
                    <div class="obj-box-header"><p><span class="display-box-header"><b>{{development_indicators}}</b>:</span> {{selected_country}}</p></div>
                    <div class="obj-box">
                        <div data-item="indicators-1"></div>
                    </div>
                </div>
            </div>
     </section>
      <section data-topic="donor">
                 <div class="row">
                     <div class="col-sm-12">
                         <div class="obj-box-header"><p><span class="display-box-header"><b>{{development_indicators}}</b>:</span> {{selected_country}}</p></div>
                         <div class="obj-box">
                             <div data-item="indicators-1"></div>
                         </div>
                     </div>
                 </div>
    </section>
</div>
